<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%-include('../partials/header')%>
    <main>
      <div class="form-container">
        <form action="/shop/create" method="POST">
          <div class="input-container">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />

            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required />

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>

            <label for="image">Image:</label>
            <input type="file" id="image" name="image" required />

            <input type="submit" value="Create" />
          </div>
        </form>
      </div>
    </main>
    <%-include('../partials/footer')%>
  </body>
</html>
