<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div>
        <h1>Welcome to CKC</h1>

        <p class="mob">Soy p de mobile</p>
        <p class="tab">Soy p de tablet</p>
        <p class="pc">Soy p de pc</p>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
