<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <h1>Welcome to CKC</h1>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
