.header-container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.logo-header {
  width: 150px;
}

.logo-img {
  width: 100%;
  padding-right: 10px;
}

nav {
  display: block;
  padding: 10px 20px;
  background-color: black;
}

nav ul {
  display: none;
}

.log-register {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-glass {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 35vw;
  height: 35px;
  max-width: 200px;
  padding: 10px;
}

.magn-glass {
  right: 25px;
  top: 2px;
  position: relative;
}

.icons {
  font-size: 25px;
}

.burger-menu {
  color: white;
  font-size: 20px;
}

li .links {
  color: white;
}

.links {
  text-decoration: none;
  color: black;
}

.tab {
  display: none;
}
.pc {
  display: none;
}

@media Screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }

  .nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .nav-ul li {
    margin: 0 20px;
  }

  .log-register {
    display: block;
  }

  .bold {
    font-weight: bold;
  }

  .mob {
    display: none;
  }

  .tab {
    display: inline;
  }
}

@media Screen and (min-width: 1200px) {
  .pc {
    display: inline;
  }

  .tab {
    display: none;
  }
}
