.header-container {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo-container {
  width: 150px;
}

.logo-img {
  width: 100%;
  padding-right: 10px;
}

nav {
  display: none;
}

.log-register {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-glass {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 35vw;
  height: 35px;
  max-width: 200px;
  padding: 10px;
}

.magn-glass {
  right: 25px;
  top: 2px;
  position: relative;
}

.icons {
  font-size: 25px;
}

.burger-menu {
  color: black;
  font-size: 20px;
}

li .links {
  color: white;
}

.links {
  text-decoration: none;
  color: black;
}

.slick-slider {
  width: 100%;
  background-color: lightgray;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: black;
}

.slick-list{
  width: 35rem;
  text-align: center;
}

.slick-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 20px;
  background: none;
  
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 16px;
}

@media Screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }

  nav {
    display: block;
    background-color: black;
    padding: 10px;
  }

  .nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .nav-ul li {
    margin: 0 20px;
  }

  .log-register {
    display: block;
  }

  .bold {
    font-weight: bold;
  }
}

@media Screen and (min-width: 1200px) {
}
