<footer>
  <div class="footer-top">
    <div class="logo-container">
      <a href="/">
        <img src="/images/logo.png" alt="Page logo" class="logo-img" />
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2023, Corner Kick Clothing. All Rights Reserved.</p>
  </div>
</footer>
