<header>
  <div class="header-container">
    <div class="logo-header">
      <a href="/">
        <img src="./images/logo.png" alt="Page logo" class="logo-img" />
      </a>
    </div>

    <div>
      <i class="fa-solid fa-user"></i>
    </div>
  </div>

  <nav>
    <div>
      <ul class="nav-ul">
        <li>
          <a>Shop</a>
        </li>
        <li>
          <a>Footwear</a>
        </li>
        <li>
          <a>Goalkeeper</a>
        </li>
        <li>
          <a>Equipment</a>
        </li>
        <li>
          <a>Apparel</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
