<header>
  <div class="header-container">
    <div class="logo-header">
      <a href="/">
        <img src="./images/logo.png" alt="Page logo" class="logo-img" />
      </a>
    </div>

    <div>
      <i class="fa-solid fa-user"></i>
    </div>
  </div>

  <nav>
    <div>
      <div class="mobile-nav">

        <div class="icons burger-menu">
          <i class="fas fa-bars"></i>
        </div>
  
        <form method="get" action="/search" class="search">
          <div class="search-glass">
              <input class="search-bar" type="text" name="q" placeholder="Search..." required minlength="3" >
              <div class="magn-glass">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </div>
          </div>
        </form>
        <div class="icons cart"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></i></div>
      </div>

      <ul class="nav-ul">
        <li>
          <a href="/shop">Shop</a>
        </li>
        <li>
          <a href="/shop/footwear">Footwear</a>
        </li>
        <li>
          <a href="/shop/goalkeeper">Goalkeeper</a>
        </li>
        <li>
          <a href="/shop/equipment">Equipment</a>
        </li>
        <li>
          <a href="/shop/apparel">Apparel</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
