<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Corner Kick Clothing</title>
<link rel="icon" type="image/png" href="./images/logoIcon.jpg" />
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/styles.css" />
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap"
  rel="stylesheet"
/>
<!-- Icons -->
<script
  src="https://kit.fontawesome.com/742f33a9bc.js"
  crossorigin="anonymous"
></script>
