<header>
  <div class="header-container">
    <div class="logo-header">
      <a href="/">
        <img src="./images/logoHeader.jpg" alt="Page logo" />
      </a>
    </div>

    <div>
      <i class="fa-solid fa-user"></i>
    </div>
  </div>
</header>
