<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <p><%= user.email %></p>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
