<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <form method="POST" action="/">
        <input type="text" />
        <input type="text" />
        <input type="text" />
        <input type="text" />
      </form>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
